.stopwatch-time{
  font-size: 6vw;;
}
.stopwatch-time-2{
  font-size: 2vw;;
}
.laps-container {
  margin-top: 20px;
}

.laps-table-container {
  max-height: 235px; /* Adjust height as needed for 5 rows */
  overflow-y: auto;
  width: 50%; /* Set width to 50% */
  margin: 0 auto; /* Center the table container */
}

.laps-table {
  width: 100%;
  border-collapse: collapse;
}

.laps-table th,
.laps-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.laps-table th {
  background-color: #f2f2f2;
  position: sticky;
  top: 0;
}

.laps-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.laps-table tr:hover {
  background-color: #ddd;
}

